<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhpan.sample">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jetpack.viewmodel.ViewModelActivity"></activity>
        <activity android:name=".jetpack.hilt.HiltActivity" />
        <activity android:name=".jetpack.workmanager.WorkManagerActivity" />
        <activity android:name=".view.ViewEntryActivity" />
        <activity android:name=".jetpack.JetpackEntryActivity" />
        <activity android:name=".nestedscroll.demo2.NestedScrollActivity2" />
        <activity android:name=".nestedscroll.demo1.NestedScrollActivity" />
        <activity android:name=".jetpack.paging3.PagingActivity" />
        <activity android:name=".nestedscroll.NestedEntryActivity" />
        <activity
            android:name=".material.behavior.HeaderBehaviorActivity"
            android:theme="@style/TranslucentStatus" />
        <activity android:name=".view.dispatch.DispatchActivity" />
        <activity
            android:name=".nestedscroll.toolbar.ToolbarBehaviorActivity"
            android:theme="@style/TranslucentStatus" />
        <activity android:name=".jetpack.lifecycle.LifecycleActivity" />
        <activity android:name=".animation.propertyanim.InterpolatorActivity" />
        <activity android:name=".animation.propertyanim.ValueAnimatorActivity" />
        <activity android:name=".animation.propertyanim.PropertyEntryActivity" />
        <activity android:name=".animation.viewanim.ViewAnimationActivity" />
        <activity android:name=".animation.propertyanim.ObjectAnimationActivity" />
        <activity android:name=".animation.AnimateEntryActivity" />
        <activity android:name=".view.viewpager2.activity.ViewPager2EntryActivity" />
        <activity android:name=".jetpack.lifecycle.FragmentLifecycleActivity" />
        <activity android:name=".view.viewpager2.activity.VPFragmentActivity" />
        <activity android:name=".view.viewpager2.activity.VP2ViewsActivity" />
        <activity android:name=".view.viewpager2.activity.VP2FragmentActivity" />
        <activity android:name="com.zhpan.sample.binder.BinderActivity" />

        <service
            android:name="com.zhpan.sample.binder.server.GradeService"
            android:process=":client">
            <intent-filter>
                <action android:name="android.intent.action.server.gradeservice" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>